*{
    font-family: 'Ubuntu', sans-serif;
}
.doctor{
   
    display:flex;
    justify-content: center;
    align-items: center;
    background: hsla(239, 90%, 27%, 1);

    background: linear-gradient(45deg, hsla(239, 90%, 27%, 1) 0%, hsla(227, 86%, 88%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(239, 90%, 27%, 1) 0%, hsla(227, 86%, 88%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(239, 90%, 27%, 1) 0%, hsla(227, 86%, 88%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#070981", endColorstr="#C8D3FB", GradientType=1 );
   
    font-size: 1.5rem;
}
.datad1{
    display: flex;
    flex-direction: column;
}
@media (max-width:480px) {
    .text6{
        font-size: 2rem;
    }
}
