.App {
  height:100vh;
  max-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to bottom right,#FE4880, #FFCE00); */
  background: hsla(203, 97%, 61%, 1);

background: radial-gradient(circle, hsla(203, 97%, 61%, 1) 0%, hsla(227, 100%, 21%, 1) 88%);

background: -moz-radial-gradient(circle, hsla(203, 97%, 61%, 1) 0%, hsla(227, 100%, 21%, 1) 88%);

background: -webkit-radial-gradient(circle, hsla(203, 97%, 61%, 1) 0%, hsla(227, 100%, 21%, 1) 88%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3AB2FC", endColorstr="#001769", GradientType=1 );
}

body{
  background-color: #f3f6f9;
}

